<html>
<head>
	<title>my website</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		$('#button').click(function(){
			if ($('#username').length<0) {
				alert('enter the username');
			};
		})
	});
	</script>
</head>
<body>
	<table width="100%" cellspacing="0">
		<tr bgcolor="#3b5998">
			<td width="55%">
				<img src="download.jpg" width="220"</td>
				<td align="left"><input type="text" placeholder="username" id="username"><input type="password" placeholder="password" id="password"><input type="button" value="LOGIN" id="button">
				</td>
			</tr>
			<tr bgcolor="#edfof5" height="600px">
				<td valign="top" align="center"><br><br>
					<table border="0" width="80%">
						<tr>
							<td><h2><font face="verdana">connect with friends and the world around you on facebook.</font></h2></td></tr>
							<tr>
								<td><font face="verdana"><br>
									<img src="">&nbsp;&nbsp;see photos and updates from friends in news feed<br><br>
									<img src="">&nbsp;&nbsp;share whats new in your life on timeline.<br><br>
									<img src="">&nbsp;&nbsp;find more of what you are looking for with graph search.<br>
								</font>
								</td>
								<td
							</tr>
						</table>
				</td>
				<td valign="top" align="center">
					<h1>sign up</h1>
					<table border="0" cellspacing="10">
						<tr>
							<td><input type="text" placeholder="firstname" style="height:30px"size="20"></td><td align="left"><input type="text" placeholder="lastname"style="height:30px" size="30"></td>

						</tr>	
						<tr>
							<td colspan="2"><input type="text" size="60" placeholder="mobile number"style="height:40px"</td>
						</tr>
						<tr>
							<td colspan="2"><input type="text" size="60" placeholder="Email"style="height:40px"</td>
						</tr>
						<tr>
							<td colspan="2"><input type="text" size="60" placeholder="password"style="height:40px"</td>
						</tr>
						<tr>
							<td colspan="2"><font color="#666666" face="verdana,arial,helvetica,sans-serif"size="1">By clicking signup,you agree to our terms and that you have read our data use policy,including our cookieuse.</font></td></tr>
							<tr>
								<td colspan="2"><button>SUBMIT</button></td></tr>
			</tr>
			</table>

</body>
</html>